body {
  background-color: #232323;
  color: #fff;
  font-family: Consolas, monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.terminal h1 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.version {
  color: #4caf50; /* Color verde para la versión */
}

#output {
  margin-bottom: 10px;
  overflow-y: auto;
  max-height: 300px;
}

#input {
  width: calc(100% - 22px);
  padding: 10px;
  background: #333;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 0;
}

#input:focus {
  background: #444;
}

.terminal div {
  line-height: 1.5;
}

.terminal div:first-child {
  color: #4caf50; /* Color para los comandos */
}

.help-command {
  font-weight: bold;
}

.help-description {
  margin-left: 10px;
  color: #ccc;
}
